[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/bundle/vim-numbertoggle"]
	path = .vim/bundle/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule ".vim/bundle/vim-disapprove-deep-indentation"]
	path = .vim/bundle/vim-disapprove-deep-indentation
	url = https://github.com/dodie/vim-disapprove-deep-indentation.git
